{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    {% if request.user.is_authenticated %}
        صفحه اصلی / {{ request.user.fullname }}

    {% else %}
        صفحه اصلی
    {% endif %}
{% endblock %}
{% block countent %}


    <body style="background-color: #1e2125">


    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords"
                               aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->


    <!-- Hero Start -->
    <div style="padding-top: 30px" class="container-fluid mb-5 hero-header">
        <div class="container ">
            <div class="row  align-items-center">
                <div class="col-md-12 col-lg-5">
                    <div class="carousel-item active rounded">
                        <img src="{% static 'img/shoes.jpg' %}"
                             class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                    </div>
                </div>

                <div class="col-md-12 col-lg-7">
                    <h1 id="heder-text1" dir="rtl" class="mb-3 text-secondary">بهترین کیفیت ؛کمترین قیمت</h1>
                    <h1 class="mb-5 display-3 text-primary" dir="rtl">فروشگاهی بزرگ با اجناس متنوع </h1>
                    <form action="{% url "product:search" %}" method="post" dir="rtl"
                          class="mx-auto d-flex justify-content-between align-items-center">

                        {% csrf_token %}
                        {{ form.name }}
                        <button type="submit"
                                class="btn btn-primary border-2 border-secondary rounded-pill text-white h-100"
                                style="top: 0; right: 25%;">جستجو در محصولات
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <div dir="rtl" class="container-fluid" style="margin-top: 10px"><img style="width: 100%;height: 120px"
                                                               src="{% static 'img/haleh2.png' %}"></div>
    <!-- Featurs Section Start -->
    <div dir="rtl" class="container-fluid featurs ">
        <div class="container py-5">
            <div class="row g-4">
                {% for attribute in attributes %}
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            {{ attribute.Image }}
                            <div class="featurs-content text-center">
                                <h5>{{ attribute.title }}</h5>
                                <p class="mb-0">{{ attribute.body }}</p>
                            </div>
                        </div>
                    </div>                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <!-- Featurs Section End -->

    <!-- Vesitable Shop Start-->
    <div dir="rtl" class="container-fluid fruite py-5">
        <div class="container">
            <div class="tab-class text-center">
                <div class="row ">
                    <div class="col-lg-4 text-end">
                        <h1>جدید ترین محصولات</h1>
                    </div>
                    <div class="col-lg-8 text-start">
                        <ul class="nav nav-pills d-inline-flex text-center mb-5">
                            <li class="nav-item">
                                <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill"
                                   href="{% url "product:product_list" %}">
                                    <span class="text-dark" style="width: 200px;background-color: #fd7e14">نمایش همه محصولات</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    {% for product in last_product %}
                                        <div class="container card-product">
                                            <div class="card">
                                                <div class="card-head">

                                                    <img style="margin-bottom: 100px" width="150" height="150"
                                                         src="{{ product.image.url }}" alt="Shoe"
                                                         class="product-img">
                                                    <div class="product-detail">
                                                        <h2>{{ product.name }}</h2> {{ product.text|truncatewords:10 }}
                                                    </div>

                                                </div>
                                                <div class="card-body">
                                                    <div class="product-desc">
        <span class="product-title">

                دسته بندی :
            {% for i in product.category.all %}

                {{ i.name }},

            {% endfor %}
            <br>
                <span class="badge">
                  New
                </span>
        </span>
                                                        <span class="product-caption">
ضمانت :{{ product.quality }}
              </span>
                                                    </div>
                                                    <div class="product-properties">
                                                        <ul class="ul-color">
                                                            <li><a href="#" class="orange active"></a></li>
                                                            <li><a href="#" class="green"></a></li>
                                                            <li><a href="#" class="yellow"></a></li>
                                                        </ul>
                                                        </span>
                                                        <span class="product-price">
                <b>{{ product.price|intcomma:0 }}</b>تومان
              </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Vesitable Shop End -->
    <div dir="rtl" class="container">
        <div class="row ">
            <div class="col-lg-4 text-end">
                <h1>محبوب ترین دسته بندی ها </h1>
            </div>
            <div class="col-lg-8 text-start">
                <ul class="nav nav-pills d-inline-flex text-center mb-5">
                    <li class="nav-item">
                        <a style="background-color: #FFB524" class="d-flex m-2 py-2 bg-light rounded-pill active"
                           data-bs-toggle="pill"
                           href="{% url "product:product_list" %}">
                            <span class="text-dark"
                                  style="width: 200px;background-color: #fd7e14">نمایش همه دسته بندی ها</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Featurs Start -->
        <div class="container-fluid service mb-2">
            <div class="container mb-3">
                <div class="row g-4 justify-content-center">
                    {% for item in categorys %}
                        <div class="col-md-6 col-lg-4">
                            <a href="#">
                                <div class="service-item  rounded border border-warning">
                                    <img src="{{ item.image.url }}" class="img-fluid rounded-top w-100"
                                         alt="">
                                    <div class="px-4 rounded-bottom">
                                        <div style="background-color: #fd7e14" class="service-content  text-center p-4 rounded">
                                            <h3 class="text-white">{{ item.name }}</h3>
                                            <h5 class="mb-0">{{ item.body }}</h5>
                                            <h6 class="mb-0" style="color: black">تعداد محصولات این دسته :  {{ item.product_set.count }}عدد  </h6>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Featurs End -->
    </div>


    <div class="container-fluid" style="margin-top: 10px"><img style="width: 100%;height: 120px"
                                                               src="{% static 'img/haleh.png' %}"></div>
    <!-- Fruits Shop Start-->
    <div dir="rtl" class="container-fluid fruite py-5">
        <div class="container">
            <div class="tab-class text-center">
                <div class="row ">
                    <div class="col-lg-4 text-end">
                        <h1>محبوب ترین محصولات</h1>
                    </div>
                    <div class="col-lg-8 text-start">
                        <ul class="nav nav-pills d-inline-flex text-center mb-5">
                            <li class="nav-item">
                                <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill"
                                   href="{% url "product:product_list" %}">
                                    <span class="text-dark" style="width: 200px;background-color: #fd7e14">نمایش همه محصولات</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    {% for product in products %}
                                        <div class="col-md-6 col-lg-4 col-xl-3 ">
                                            <div class="rounded position-relative fruite-item">
                                                <div class="fruite-img">
                                                    <img style="width: 200px;height: 200px"
                                                         src="{{ product.image.url }}"
                                                         class="rounded-top g-4" alt="">
                                                </div>
                                                <div class="text-white px-3 py-1 rounded position-absolute"
                                                     style="top: 10px; left: 10px;background-color: #fd7e14">
                                                    {% for i in product.category.all %}

                                                        {{ i.name }},

                                                    {% endfor %}
                                                </div>
                                                <div style="height: 250px;"
                                                     class="p-4  rounded-bottom">
                                                    <h4 style="color: white">{{ product.name }}</h4>
                                                    <p style="word-wrap: break-word">{{ product.text|truncatechars:30 }}</p>
                                                    <div class="d-flex justify-content-center align-items-center ">
                                                        <a style="height: 40px;width: 150px;border: 1px solid #fd7e14;border-radius: 20px"
                                                           href="#"
                                                           class="p-1 text-center">افزودن به سبد خرید</a>
                                                    </div>
                                                    <div class="d-flex mt-2 justify-content-center align-items-center">
                                                        <p style="font-size: 20px">{{ product.price|intcomma:0 }}
                                                            تومان </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->


    <!-- Tastimonial Start -->
    <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="testimonial-header text-center">
                <h4 class="text-primary">Our Testimonial</h4>
                <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x text-secondary position-absolute"
                           style="bottom: 30px; right: 0;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="img/testimonial-1.jpg" class="img-fluid rounded"
                                     style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Client Name</h4>
                                <p class="m-0 pb-3">Profession</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x text-secondary position-absolute"
                           style="bottom: 30px; right: 0;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="img/testimonial-1.jpg" class="img-fluid rounded"
                                     style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Client Name</h4>
                                <p class="m-0 pb-3">Profession</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x text-secondary position-absolute"
                           style="bottom: 30px; right: 0;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="img/testimonial-1.jpg" class="img-fluid rounded"
                                     style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Client Name</h4>
                                <p class="m-0 pb-3">Profession</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tastimonial End -->


    </body>

    </html>
{% endblock %}