{% load static %}
<!-- Footer Start -->
<div dir="ltr" class="container-fluid  text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="row">


            <div dir="rtl" class="col-lg-4 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Account</h4>
                    <a class="btn-link" href="">My Account</a>
                    <a class="btn-link" href="">Shop details</a>
                    <a class="btn-link" href="">Shopping Cart</a>
                    <a class="btn-link" href="">Wishlist</a>
                    <a class="btn-link" href="">Order History</a>
                    <a class="btn-link" href="">International Orders</a>
                </div>
            </div>
              <div  class="col-lg-4 col-md-6">
                <div dir="rtl" class="d-flex flex-column footer-item">
                    <h4 class="text-light mb-3">اکانت من </h4>
                    <a class="btn-link" href="">پروفایل من </a>
                    <a class="btn-link" href="">ویرایش اطلاعات </a>
                    <a class="btn-link" href="">سبد خرید </a>
                    <a class="btn-link" href="">خروج از حساب </a>
                    <a class="btn-link" href="">محصولات خرید کرده من</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div dir="rtl" class="footer-item">
                    <h4 class="text-light mb-3">ارتباط با ما </h4>
                    <p>آدرس : اصفهان ، بادرود ، خیابان امام ، کوی شهریار ، پلاک 21</p>
                    <p>آدرس ایمیل : javadkhoshnood194@gmail.com</p>
                    <p>شماره تلفن : 09021632566</p>
                    <p>شماره دفتر  : 03154348567</p>
                    <div class="d-flex justify-content-start pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
        class="fa fa-arrow-up"></i></a>