{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    محصولات فروشگاه
{% endblock %}


{% block countent %}

    <body dir="rtl" style="background-color: #1e2125">

    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords"
                               aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">فروشگاه</h1>
        <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0">
            <li class="breadcrumb-item text-white "><a class="text-white" href="{% url 'Home:index' %}">صفحه اصلی</a>
            </li>
            /
            <li class="breadcrumb-item">
                <a  {% if category_name %} style="color: white" {% else %} style="color: #81c408 !important"{% endif %}
                                           href="{% url 'product:product_list' %}">فروشگاه</a>
            </li>
            {% if category_name %}
                <li class="breadcrumb-item" style="color: white">دسته بندی ها</li>
                <li class="breadcrumb-item" style="color: #81c408 !important">{{ category_name }}</li>

            {% endif %}
        </ul>
    </div>
    <!-- Single Page Header End -->


    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite">
        <div class="container pt-5">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <div dir="ltr" class="input-group w-100 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords"
                                       aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i
                                        class="fa fa-search"></i></span>
                            </div>
                        </div>
                        {% if category_name %}
                            <div class="col-xl-9 ">
                                <h3 style="color: white;text-align: center" class="mb-4">همه محصولات
                                    دسته {{ category_name }}</h3>
                            </div>
                        {% else %}
                            <div class="col-xl-9 ">
                                <h1 style="color: white;text-align: center" class="mb-4">همه محصصولات فروشگاه</h1>
                            </div>

                        {% endif %}
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    {% include 'includes/sidbar_category.html' %}
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 style="color: white" class="mb-2">قیمت </h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput"
                                               min="0" max="3000" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" min-velue="0" max-value="3000"
                                                for="rangeInput">0
                                        </output>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-4">
                                    <a href="#"
                                       class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">اعمال
                                        تغییرات </a>
                                </div>
                                <!--this is inja -->
                                {% include 'includes/sidbar_discount_product.html' %}
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">
                                {% for product in products %}
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img height="230" width="300" src="{{ product.image.url }}"
                                                     class="rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                 style="top: 10px; left: 10px;">
                                                {% for ctegory in product.category.all %}
                                                    {{ ctegory.name }},
                                                {% endfor %}
                                            </div>
                                            <div class="p-4  rounded-bottom">
                                                <a href="{% url 'product:product_detail' product.id %}"><h4
                                                        style="color: white">{{ product.name }}</h4>
                                                </a>
                                                <p>{{ product.text|truncatechars:20 }}</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">{{ product.price|intcomma:0 }}تومان </p>
                                                    <a href="#"
                                                       class="btn border border-secondary rounded-pill px-3 text-primary">
                                                        افزودن به شبد خرید<i
                                                            class="fa fa-shopping-bag me-2 text-primary"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                <div class="col-12">
                                    <div class="pagination d-flex justify-content-center mt-5">
                                        <a href="#" class="rounded">&laquo;</a>
                                        <a href="#" class="active rounded">1</a>
                                        <a href="#" class="rounded">2</a>
                                        <a href="#" class="rounded">3</a>
                                        <a href="#" class="rounded">4</a>
                                        <a href="#" class="rounded">5</a>
                                        <a href="#" class="rounded">6</a>
                                        <a href="#" class="rounded">&raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->


    </body>

    </html>
{% endblock %}



